    .gcc{
        width: 100px;
        height: 35px;
        border-radius: 8px;
    }

    .gcc:hover{
        cursor:pointer;
        transform: scale(1.2)
    }

    .gcc:active{
        transform: scale(1)
    }